<ion-view title="MLB RBI Sports">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:left;">
            <img src="img/AGuZkB77R2K0MCcuO3H0_RBI2008Logo-color.gif" width="13%" height="auto">
        </div>
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search RBI Mobile">
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">RBI Sports</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-select">
                        <span class="input-label">Select</span>
                        <select>
                            <option>Softball</option>
                            <option>Hardball</option>
                            <option>League</option>
                        </select>
                    </label>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/MRq4LiHQwWGd7obXLlkx_mlb.png">
                        <h2>Baseball Team 1</h2>
                        <p>24 Players</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/L7595sXJSoW0uX6hi1N8_RBI2008Logo-color.gif">
                        <h2>Baseball Team 2</h2>
                        <p>27 Players</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/4G7975CRTAuU31oEw8Qo_MSS_pad-icon.png">
                        <h2>Baseball Team 3</h2>
                        <p>28 Players</p>
                    </ion-item>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>