<ion-view title="MLB RBI Stats">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div style="text-align:left;">
                <img src="img/AGuZkB77R2K0MCcuO3H0_RBI2008Logo-color.gif" width="13%" height="auto">
            </div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search RBI Mobile">
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">Total Revenue</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/nY4PnxAYRumf0a9OOoRw_3d_chart_giphy.gif" width="100%" height="auto">
                </div>
                <div>
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>