<ion-view title="MLB RBI Users ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:left;">
            <img src="img/AGuZkB77R2K0MCcuO3H0_RBI2008Logo-color.gif" width="13%" height="auto">
        </div>
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search RBI Mobile">
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">Users Admin</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>User Item 1</ion-item>
                    <ion-item>User Item 2</ion-item>
                    <ion-item>User Item 3</ion-item>
                </ion-list>
                <button class="button button-stable button-block ">Edit User</button>
                <button class="button button-positive button-block ">Save Edit</button>
            </div>
        </div>
    </ion-content>
</ion-view>